<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datalinks.android.widgetexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <receiver
            android:name="WidgetExampleProvider"
            android:icon="@drawable/icon"
            android:label="Datalinks Widget Example" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetsimple_info" />
        </receiver>
        
		<service android:name="com.datalinks.android.widgetexample.WidgetExampleService"></service> 
        
    </application>


</manifest>